
:root{
    --back-color: #636da8e5;
    --primary-color: #42b81fde;
    --header-back: #5f718d;
    --header-text: #eee;
}
body{
    background-color: var(--back-color);
    color: var(--primary-color);
}